.form-control {
  border-color: $white;
}

.input-group-text {
  background-color: $secondary;
  border: none;
}

.form-check {
  display: flex;
  align-items: center;
  padding-left: 0;

  .form-check-input {
    background-color: $primary;
    flex: 0 0 auto;
    border: none;
    margin: 0 1em 0 0;
    width: 2em;
    height: 2em;
  }
}
