.page-layout {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

body {
  background-image: getGradient("background");
}

svg {
  max-width: 35px;
  max-height: 35px;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
  margin: 0 auto;
  width: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.container-fluid {
  --bs-gutter-x: #{$smMargin};
}

.px-075 {
  padding-left: $smMargin;
  padding-right: $smMargin;
}

@include media-breakpoint-up(md) {
  .container-fluid {
    --bs-gutter-x: #{$mdMargin};
  }

  .px-075 {
    padding-left: $mdMargin;
    padding-right: $mdMargin;
  }
}
