body {
    font-family: getFont(font-primary);
    color: getColor(text-primary);
}

h1, 
.theme-heading {
    color: getColor(theme);
    font-family: getFont(font-secondary);
    font-size: 34px;
    margin: 40px 0 20px;
}

.navbar-light .navbar-brand {
    color: getColor(theme);
    font-family: getFont(font-secondary);
    font-style: italic;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.hoverable svg:hover path {
    fill: $primary;
}