$primary: #e92569;
$secondary: #767676;
$white: #fff;
$patch: #fff;
$light: #efefef;
$dark: #0a0a0a;
$navbar-light-color: $dark;
$navbar-light-active-color: $dark;

$accordion-border-radius: 10px;
$--bs-body-color: #767676;

$smMargin: 30px;
$mdMargin: 75px;

$min-contrast-ratio: 4.25;
/* 
    Kinda surprising that once again, we are instructed to 
    create a website design that doesn't abide by norwegian law.
    This time around one has to explicitly tell bootstrap to 
    lessen its contrast demands to be below the WCAG 2.0 
    minimum requirement...  -_-
*/

$gradients: (
  "background": radial-gradient(#ffff, #e5e5e5),
);

@function getGradient($gradient) {
  @return map-get($gradients, $gradient);
}

$shadows: (
  "shadow-light": 0px 6px 10px #00000029,
  "shadow-dark": 0px 16px 22px #00000029,
);

@function getShadow($shadow) {
  @return map-get($shadows, $shadow);
}

$fonts: (
  "font-primary": (
    "Lato",
    sans-serif,
  ),
  "font-secondary": (
    "Playfair Display",
    serif,
  ),
);

@function getFont($font) {
  @return map-get($fonts, $font);
}
